[Unit]
After=syslog.target
Description=vds

[Service]
Type=forking
User=root
ExecStart=/usr/local/VDI-client/vdi_init
Restart=always

[Install]
WantedBy=multi-user.target






