[Unit]
Description=oVirt Guest Agent

[Service]
Type=simple
PIDFile=/run/ovirt-guest-agent.pid
EnvironmentFile=-/etc/sysconfig/ovirt-guest-agent
User=ovirtagent
PermissionsStartOnly=true
ExecStartPre=/sbin/modprobe virtio_console
ExecStartPre=/bin/touch /run/ovirt-guest-agent.pid
ExecStartPre=/bin/chown ovirtagent:ovirtagent /run/ovirt-guest-agent.pid
ExecStart=/usr/bin/python /usr/share/ovirt-guest-agent/ovirt-guest-agent.py

[Install]
WantedBy=multi-user.target
